<h1>Lautaro: </h1>
<p>No queria escribir por el chat porque no se si todos pueden ver.</p>
<hr>
<p>Pense que no era necesario lo de las inscripciones, por lo que dijo el profe... entonces por eso hice solo mostrar.</p>
<p>Se que no es excusa, pero ademas de trabajar, que lo hacemos todos, estuve con dos semanas de loco</p>
<ul>
  <li> Tenia que entragar un trabajo y estuve hasta el martes a las 12 de la noche(trabajo frelance) con una interface soapUi que las odio!!! De migraciones argentina</li>
  <li> Mi señora se opero el jueves 13 de este mes, lo que requiririo cuidados especiales para mi señora el cual los hice yo</li>
  <li> Y recien hoy despues de 22 dias volvimos a nuestra casa, porque vivimos a 150 km de la ciudad.Vivo en Laguna Blanca Formosa, y nos fuimos a un hotel de la obra social en formosa capital. Apenas internete!!!</li>

</ul>
<h3>No son excusas, pero para que entiendas un poquito como fue esta semana de locos....
  hasta que le dieron el alta</h3>
<h4>Solo fue un resumen, y no lo tomes a mal !!!</h4>
<p>Saludos</p>
<p>Pd. Hice todo nuevo, porque era Ilegible mi codigo y trato de ser bien prolijo.... asi que si me lo aprobas ... ya empiezo con la proxima entrega, y con mas dias.... </p>
<p>Podes ser mas exigente para la proxima entrega.... decime, que necesito agregar para la proxima y es un hecho</p>
<p>Gracias Totales</p>
