<h1 class="alert alert-success text-center">Profe!!!!: </h1>
<h3>Este es el trabajo final</h3>
<hr>
<p>Muchas gracias por todo lo que me has aportado.</p>
<p>He podido ordenar varios conceptos que he tenido flojo o con dudas.</p>
<p>Estoy muy contento con el curso, y con el trabajo que he podido hacer.</p>
<p>Si no nos volvemos a encontrar exitos!
   te paso mis datos por cualquier cosa arielbernardo@hotmail.com | 3704299434</p>
<br>
<h3>Detalles de esta entrega.</h3>
<ul>
  <li> Hice una landing como para hacer algo diferete</li>
  <li> En la Landing utilizo otro tema , me costo implementando.</li>
  
</ul>

