<mat-card class="example-card">
  <mat-card-header>
    
    <mat-card-title>
      <div class="row align-items-center">
          <div class="col-auto">{{titulo}}</div>
          <div class="col-auto float-end">
              <mat-icon matBadge="{{ alumnosInscriptos.length }}" matBadgeColor="warn" class="align-middle">face</mat-icon>
              <small class="align-middle">Inscriptos!</small>
          </div>
      </div>
    </mat-card-title>

  </mat-card-header>

  <mat-card-content> 

    <div class="info d-inline-flex text-center">
    
      <img mat-card-image width="150px" src="{{ foto }}" alt="mensaje" class="mx-3 my-3" >
      
      <!-- <div class="d-flex align-items-center" *ngIf="alumnosNoInscriptos.length>0 && authUserRole?.role=='Admin'"> -->
      <div class="d-flex align-items-center" *ngIf="(!isNotFinalized) && (alumnosNoInscriptos.length > 0 && authUserRole?.role == 'Admin');else finCurso">
        
        <mat-form-field class="me-3">

          <mat-label>Seleccionar alumno</mat-label>
          <mat-select #alumnoSelect>
            <mat-option *ngFor="let alumno of alumnosNoInscriptos" [value]="alumno">
              {{ alumno.nombre }} {{ alumno.apellido }}
            </mat-option>
          </mat-select>

        </mat-form-field>

        <button mat-flat-button 
            class="mb-3" 
            (click)="agregarAlumno(alumnoSelect?.value)" 
            [disabled]="esFechaFinAnteriorAHoy">Agregar Alumno</button>
      
      </div>
      <ng-template #finCurso>
        <h2 class="mt-4">Curso Finalizado!</h2>
      </ng-template>
      
    </div>

    <button mat-flat-button class="mb-3" *ngIf="authUserRole?.role =='Estudiante' && !estoyInscripto" (click)="agregarEstudiante(authUserRole!)" [disabled]="esFechaFinAnteriorAHoy">Quiero Anotarme!</button>
    
    <mat-accordion class="example-headers-align">

      <mat-expansion-panel *ngFor="let alumno of alumnosInscriptos; let i = index" [expanded]="false"  hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ alumno.apellido | uppercase }}
          </mat-panel-title>
          <mat-panel-description>
            {{ alumno.nombre | titlecase }}
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-action-row *ngIf="authUserRole?.role=='Admin'">
          <button mat-button color="warn" (click)="eliminarCursoAlumno(idInscripcion,alumno)" [disabled]="esFechaFinAnteriorAHoy"> Eliminar Alumno<mat-icon>delete</mat-icon></button>
        </mat-action-row>
        <mat-action-row *ngIf="estoyInscripto && alumno.id == authUserRole?.studentId && authUserRole?.role!='Admin' ">
          <button mat-button color="warn" (click)="eliminarCursoAlumno(idInscripcion,alumno)" [disabled]="esFechaFinAnteriorAHoy">Eliminar Subscripcion<mat-icon>delete</mat-icon></button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

    <mat-card-actions>

      <button mat-flat-button mat-dialog-close="true" color="primary">ok</button>

    </mat-card-actions>

  </mat-card-content>

</mat-card>

